<section id="questions">
  <!-- insert data from object for quote, and options A - D -->
  <form action=“/quiz” method=“POST”>
    <% fakeObj.forEach(quote => { %>
      <p class="quote"><%=quote.quote%></p>
    </form>
    <div>
      <form id="<%=quote.id%>" action="/answer" method="POST">
        <label for="A"> <%=quote.optionA%>
          <input type="radio" name="answer" value="A" required>
        </label>
        <label for="B"> <%=quote.optionB%>
          <input type="radio" name="answer" value="B" required>
        </label>
        <label for="C"> <%=quote.optionC%>
          <input type="radio" name="answer" value="C" required>
        </label>
        <label for="D"> <%=quote.optionD%>
          <input type="radio" name="answer" value="D" required>
        </label>
        <button type="submit" formaction="/fake/<%=quote.id%>">Submit</button>
      </form>
    </div>
    <% }) %>
  <!-- do method override to make PUT -->
  <form action="/save" method="POST">
    <!-- insert data from object to be saved -->
    <input name="quote" value="" class="hidden-input">
    <input name="quoter" value="" class="hidden-input">
    <input name="photo" value="" class="hidden-input">
    <button type="submit" id="save">save quote</button>
  </form>
</section>